__pycache__
*.o
*.bit
*.bin
*.config
*.dump
*.rbt
*.sdf
*.vo
/user_environment.sh
libprjoxide/target
Cargo.lock
.bitstreamcache/
radiantc.tcl*
radiantc.log*
*~
\#*
*.log.gz
.deltas
work/
.\#*
*.fasm
.cache
fuzzers/*/*/db
